.background-home {
    background-color: #e4e4e4;
    width: 100%;
    height: 100vh;
    margin: 0, 0;
}

.container-home {
    background-color: white;
    height: max-content;
    margin: 0, 0, 0, 0;
}

.logo {
    margin: 0, 0;
    
}